<div class="w-full h-screen fixed flex justify-center items-center">
    <div class="flex flex-col w-[30%]">
        <div>
            <strong class="montserrat text-[20px] font-black text-primary">CICT - Extension  Office Management System</strong>
        </div>
        <div clas="flex flex-col w-[50%] justify-start gap-2">
            <div>
                <strong class="montserrat text-[20px] font-extrabold text-secondary">Log In </strong>
                <p class="">Please input credentials</p>
            </div>
            <div class="input-container">
                <input placeholder="Username" class="input-field" type="text">
                <label for="input-field" class="input-label">Username</label>
                <span class="input-highlight"></span>
            </div>
            <div class="input-container">
                <input placeholder="Password" class="input-field" type="password">
                <label for="input-field" class="input-label">Password</label>
                <span class="input-highlight"></span>
            </div>
            <div class="flex justify-around w-full items-center">
                <div class="w-[50%] flex gap-2 items-center">
                    <input checked="checked" type="checkbox">
                    <p>Show Password</p>
                </div>
                <button class="w-[50%]">
                    Forget Password
                </button>
            </div>
            <br>            
            <button class="btn-primary">
                Log In
            </button>
            <br>
            <button class="w-full text-center mt-3">
                <p class="text-primary cursor font-bold">_________Sign-Up___________</p>
            </button>
        </div>
        <div>
            
        </div>
    </div>
</div>